@charset "UTF-8";

:root {
    /* ------------------------------------ COULEURS DE BASE ------------------------------------ */
    --noir: black; --blanc: white; --trans: transparent; --alpha: transparent;
    --gris-tres-clair: #f2f2f2;		--gris-clair: #D9D9D9;		--gris: #928787;		--gris-fonce: #4d4d4d;		--gris-tres-fonce: #2e2e2e;
    --bleu-tres-clair: #d0e6fb; 	--bleu-clair: #a0c9f8; 		--bleu: #2d89ef; 		--bleu-fonce: #1276d3; 		--bleu-tres-fonce: #0a4275;
    --rouge-tres-clair: #ffcccc; 	--rouge-clair: #ff8080; 	--rouge: #ff3333; 		--rouge-fonce: #b30000; 	--rouge-tres-fonce: #800000;
    --vert-tres-clair: #c3efd7; 	--vert-clair: #86dfb0; 		--vert: #30b56e;		--vert-fonce: #20794a; 		--vert-tres-fonce: #155132;
    --jaune-tres-clair: #ffffd9; 	--jaune-clair: #fff5ba; 	--jaune: #ffd000;		--jaune-fonce: #cca700; 	--jaune-tres-fonce: #806800;
    
    
    /* Hauteurs des barres en fonction des interfaces choisies: *./
    /*      Quatres barres */
    --colonnes-interface: 250px auto 250px;      --lignes-interface: 30px auto 30px;
    /*      Trois barres */
    --colonnes-interface-hgd: 250px auto 250px;  --lignes-interface-hgd: 30px auto;
    --colonnes-interface-hgb: 250px auto;        --lignes-interface-hgb: 30px auto 30px;
    --colonnes-interface-hdb: auto 250px;        --lignes-interface-hdb: 30px auto 30px;
    --colonnes-interface-gdb: 250px auto 250px;  --lignes-interface-gdb: auto 30px;
    /*      Deux barres */
    --colonnes-interface-hg: 250px auto;         --lignes-interface-hg: 30px auto;
    --colonnes-interface-hd: auto 250px;         --lignes-interface-hd: 30px auto;
    --colonnes-interface-hb: auto;               --lignes-interface-hb: 30px auto 30px;
    --colonnes-interface-gd: 250px auto 250px;   --lignes-interface-gd: auto;
    --colonnes-interface-gb: 250px auto;         --lignes-interface-gb: auto 30px;
    --colonnes-interface-db: auto 250px;         --lignes-interface-db: auto 30px;
    /*      Une seule barre */
    --colonnes-interface-h: auto;                --lignes-interface-h: 30px auto;
    --colonnes-interface-g: 250px auto;          --lignes-interface-g: auto;
    --colonnes-interface-d: auto 250px;          --lignes-interface-d: auto;
    --colonnes-interface-b: auto;                --lignes-interface-b: auto 30px;
}

* {
    box-sizing: border-box; gap: 0px; column-gap: 0px; gap: 0px; row-gap: 0px;
}